<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basketball</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/style2.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app2.js"></script>

    <style>
      .mySlides {display:none}
      .w3-left, .w3-right, .w3-badge {cursor:pointer}
      .w3-badge {height:13px;width:13px;padding:0}
    </style>

  </head>
  <body>

      <div class="userLoginBox" >

        <div class="userLogo">

        </div>

      </div>


    <div class="twitter">

      <a class="twitter-timeline" data-width="700" data-height="200" data-theme="white" href="https://twitter.com/NBA?ref_src=twsrc%5Etfw">Tweets by NBA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

    <div class="fix">
    </div>

    <div class="court">
      <img src="/images/court.png" alt="" class="courtShow">
      <img src="/images/westbrook.png" alt="" class="playerBoxShow positionC">
      <img src="/images/curry.png" alt="" class="playerBoxShow positionPF">
      <img src="/images/lebron.png" alt="" class="playerBoxShow positionSF">
      <img src="/images/kevin.png" alt="" class="playerBoxShow positionSG">
      <img src="/images/harden.png" alt="" class="playerBoxShow positionPG">
    </div>

    <div class="subBox">
      <h1>Substitute</h1>
      <img src="/images/anthony_davis.png" alt="" class="playerSubBoxShow">
      <img src="/images/butler.png" alt="" class="playerSubBoxShow">
      <img src="/images/towns.png" alt="" class="playerSubBoxShow">
      <img src="/images/thomas.png" alt="" class="playerSubBoxShow">
      <img src="/images/derozan.png" alt="" class="playerSubBoxShow">

    </div>

    <div class="functionButtonsBox">
      <h1>Menu</h1>
      <a name="button" href="/draft" class="functionButtons draft">Draft</a>
      <a name="button" href="/match" class="functionButtons match">Match</a>

    </div>


      <footer>
        <div class="footer">

          <h4>© 2017 Company Ken & Kenneth Co.</h4>

        </div>
      </footer>



  </body>
</html>
