<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basketball match</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="styles/style3.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>

    <!-- APPLICATION SCRIPTS -->
    <!-- <script>
    var id ;
    function allowDrop(ev) {
      ev.preventDefault();
    }
    function dragStart(ev) {
      id = ev.target.id;
    }
    function drop(ev) {
      ev.target.append(document.getElementById(id));
    }
  </script> -->

    <script src="scripts/app2.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="teamLogo">
        <img class="ourTeamLogo" src="images/teamlogo.png" alt="">
      </div>
      <div class="vsLogo">
      </div>
      <div class="teamLogo">
        <img class="oppoTeamLogo" src="images/teamlogo2.png" alt="">
      </div>

      <div class="fix">

      </div>

      <div class="ourTeam">

        <div class="lineup lineup1">
          <img src="images/lebron.png" alt="" class="playerBox">
          <span class="statsBox statsBox1">Player:James
            ATK:98
            DEF:98</span>
          <h1 class = "adding"></h1>
          </div>

        <div class="lineup lineup2">
          <img src="images/kevin.png" alt="" class="playerBox">
          <span class="statsBox statsBox2">Player:kevin
            ATK:99
            DEF:92</span>
          <h1 class = "adding"></h1>
        </div>

        <div class="lineup lineup3">
          <img src="images/westbrook.png" alt="" class="playerBox">
          <span class="statsBox statsBox3">Player:westbrook
            ATK:94
            DEF:90</span>
          <h1 class = "adding"></h1>
        </div>

        <div class="lineup lineup4">
          <img src="images/harden.png" alt="" class="playerBox">
          <span class="statsBox statsBox4">Player:harden
            ATK:95
            DEF:80</span>
          <h1 class = "adding"></h1>
        </div>

        <div class="lineup lineup5">
          <img src="images/curry.png" alt="" class="playerBox">
          <span class="statsBox statsBox5">Player:curry
            ATK:98
            DEF:88</span>
          <h1 class = "adding"></h1>
        </div>

      </div>

      <div class="timer">
      </div>

      <div class="scoreBox">
        <button type="button" name="button" class="mtButton">My Team</button>
        <button type="button" name="button" class="otButton">Oppo Team</button>
        <h1 class="score"></h1>
        <div class="myteambox">
          <h3 class="stats1"></h3>
        </div>
        <div class="oppoteambox">
          <h3 class="stats2"></h3>
        </div>
      </div>


      <div class="oppoTeam">

        <div class="lineup lineup6">
          <img src="images/anthony_davis.png" alt="" class="playerBoxoppo" >
          <span class="statsBox statsBox6">Player:Anthony Davis
            ATK:92
            DEF:95</span>
          <h1 class = "adding"></h1>
          </div>

        <div class="lineup lineup7">
          <img src="images/towns.png" alt="" class="playerBoxoppo">
          <span class="statsBox statsBox7">Player:Karl-Anthony Towns
            ATK:90
            DEF:90</span>
          <h1 class = "adding"></h1>
        </div>

        <div class="lineup lineup8">
          <img src="images/derozan.png" alt="" class="playerBoxoppo">
          <span class="statsBox statsBox8">Player:DeMar DeRozan
            ATK:85
            DEF:90</span>
          <h1 class = "adding"></h1>
        </div>

        <div class="lineup lineup9">
          <img src="images/butler.png" alt="" class="playerBoxoppo">
          <span class="statsBox statsBox9">Player:Jimmy Butler
            ATK:90
            DEF:92</span>
          <h1 class = "adding"></h1>
        </div>

        <div class="lineup lineup10">
          <img src="images/thomas.png" alt="" class="playerBoxoppo">
          <span class="statsBox statsBox10">Player:Isaiah Thomas
            ATK:92
            DEF:75</span>
          <h1 class = "adding"></h1>
        </div>
      </div>

      <div class="plays">

      </div>

    </div>

  </body>
</html>
